langchain
langchain_core
langchain_openai
langchain-community
langchain_experimental
langchain_groq
openai
python-dotenv
PyPDF2
python-docx
streamlit

tabulate

pandas
seaborn
matplotlib
streamlit-chat
openpyxl